
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    {% load static from staticfiles %}
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
	<link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
    
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="/home">Home</a></li>
          <li><a href="/about_us">About</a></li>
          <li><a href="/register">Register</a></li>
          <li class="active"><a href="/feedback">Feedback</a></li>
        </ul>
        <h3 class="muted company_name">Shri Swami Samarth Multitrade Pvt. Ltd.</h3>
      </div>

      <hr>

      <div class="jumbotron">
{#            {{ form.as_p }}#}
{#            <div>#}
{#                <p><label class="col-sm-2 control-label" for="id_f_name">Your Name:</label> <input class="form-control"  id="id_f_name" maxlength="20" name="f_name" type="text" /></p>\n#}
{#                <p><label class="col-sm-2 control-label" for="id_l_name">Last Name:</label> <input class="form-control"  id="id_l_name" maxlength="20" name="l_name" type="text" /></p>\n#}
{#                <p><label class="col-sm-2 control-label" for="id_e_mail">E mail:</label> <input class="form-control"  id="id_e_mail" name="e_mail" type="email" /></p>\n#}
{#                <p><label class="col-sm-2 control-label" for="id_mobile_no">Mobile no:</label> <input class="form-control"  id="id_mobile_no" name="mobile_no" type="text" /></p>\n#}
{#                <p><label class="col-sm-2 control-label" for="id_comments">Comments:</label> <textarea class="form-control"  cols="40" id="id_comments" name="comments" rows="10">\r\n</textarea></p>#}
{#            </div>#}
            <div class="form_group">
                <form class="form-horizontal" action="/feedback/" method="post">{% csrf_token %}
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="id_f_name">Your Name:</label>
                    <div class="col-sm-10">
                      <input class="form-control"  id="id_f_name" maxlength="20" name="f_name" type="text" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="id_l_name">Last Name:</label>
                    <div class="col-sm-10">
                      <input class="form-control"  id="id_l_name" maxlength="20" name="l_name" type="text" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="id_e_mail">E mail:</label>
                    <div class="col-sm-10">
                      <input class="form-control"  id="id_e_mail" name="e_mail" type="email" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="id_mobile_no">Mobile no:</label>
                    <div class="col-sm-10">
                      <input class="form-control"  id="id_mobile_no" name="mobile_no" type="text" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="id_comments">Comments:</label>
                    <div class="col-sm-10">
                      <textarea class="form-control"  cols="40" id="id_comments" name="comments" rows="10"></textarea>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="btn-group">
                          <input type="submit" class="btn btn-large btn-success" value="Submit" />
                          <input type="button" class="btn btn-large btn-warning" value="Clear" />
                          <input type="button" class="btn btn-large btn-success" value="Back" />
                        </div>
                    </div>
                  </div>
                </form>
            </div>
{#            <div class="btn-group">#}
{#                <input type="submit" class="btn btn-large btn-success" value="Submit" />#}
{#                <input type="button" class="btn btn-large btn-warning" value="Clear" />#}
{#                <input type="button" class="btn btn-large btn-success" value="Back" />#}
{#            </div>#}

      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "bootstrap/js/jquery.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-transition.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-alert.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-modal.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-dropdown.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-scrollspy.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-tab.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-tooltip.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-popover.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-button.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-collapse.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-carousel.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-typeahead.js" %}"></script>

  </body>
</html>
