
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    {% load static from staticfiles %}
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
        background-color: #646230;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
{#      img{#}
{#          width: 400;#}
{#          height: 400px;#}
{#          max-height: 400px;#}
{#        }#}
    </style>
	<link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
    
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/home">Home</a></li>
          <li><a href="/about_us">About</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/feedback">Feedback</a></li>
        </ul>
{#        <img src="{% static 'images/a.jpg' %}" alt="folder" class="img-circle">#}
        <h3 class="muted company_name">Shri Swami Samarth Multitrade Pvt. Ltd.</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Success is next step, make believe!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a class="btn btn-large btn-success" href="/demo"><span class="glyphicon glyphicon-facetime-video"></span>  Demo</a>
{#        <a class="btn btn-large btn-success" href="/demo">Demo</a>#}
      </div>

      <hr>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1" class></li>
    {#            <li data-target="#carousel-example-generic" data-slide-to="2" class></li>#}
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
              <div class="item  active">
                  <img src="/static/images/slider_images/1.jpg" alt="900x500">
                  <div class="carousel-caption">
                    python 2
                  </div>
              </div>
              {% for i in '24678' %}
                <div class="item">
                  <img src="/static/images/slider_images/{{ i }}.jpg" alt="900x500">
                  <div class="carousel-caption">
                    python 1
                  </div>
                </div>
              {% endfor %}
{#            <div class="item  active">#}
{#              <img src="/static/images/slider_images/1.jpg" alt="900x500">#}
{#              <div class="carousel-caption">#}
{#                python 2#}
{#              </div>#}
{#            </div>#}
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      <hr>
      <div class="row-fluid marketing company_name">
        <div class="col-lg-6">
          <h4>Our Mission</h4>
          <p>We have our own moral ethics on which company stands.
              Shri swami samarth multitrade pvt ltd company stands to provide
              employment for unemployed persons and guide about how to do
              successful business.Shri swami samarth multitrade pvt ltd provides
              opportunity to educated as well as uneducated unemployed persons
              and become supporting pillar for them.

          </p>
        </div>
        <div class="col-lg-6">
          <h4>Our Vision</h4>
           <p>The main objective of the company is to provide employement to
           educated as well as uneducated  needy unemployed persons.</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; Company 2014</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script src="{% static "bootstrap/js/jquery.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
{#    <script src="{% static "bootstrap/js/bootstrap-transition.js" %}"></script>#}
{#    <script src="{% static "bootstrap/js/bootstrap-alert.js" %}"></script>#}
{#    <script src="{% static "bootstrap/js/bootstrap-modal.js" %}"></script>#}
{#    <script src="{% static "bootstrap/js/bootstrap-dropdown.js" %}"></script>#}
{#    <script src="{% static "bootstrap/js/bootstrap-scrollspy.js" %}"></script>#}
{#    <script src="{% static "bootstrap/js/bootstrap-tab.js" %}"></script>#}
{#    <script src="{% static "bootstrap/js/bootstrap-tooltip.js" %}"></script>#}
{#    <script src="{% static "bootstrap/js/bootstrap-popover.js" %}"></script>#}
{#    <script src="{% static "bootstrap/js/bootstrap-button.js" %}"></script>#}
{#    <script src="{% static "bootstrap/js/bootstrap-collapse.js" %}"></script>#}
{#    <script src="{% static "bootstrap/js/bootstrap-carousel.js" %}"></script>#}
{#    <script src="{% static "bootstrap/js/bootstrap-typeahead.js" %}"></script>#}
{# <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">#}
{#<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>#}
{#<script src="http:////netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">#}
    <script type="text/javascript">

        $(document).ready(function() {
            $('#carousel-example-generic').carousel({
            //options here
            });
        });

    </script>
  </body>
</html>
